#home {
    display: flex;
    min-height: calc(100vh - 91px);
    position: relative;
}

#txt-home {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#txt-home.title {
    font-size: 40px;
    color: var(--color-neutral-1);;
}

#txt-home .title span {
    color: var(--color-primary-6);
}

#txt-home .description {
    font-size: 1.2rem;
}

#home-button {
    display: flex;
    gap: 30px;
}

#home-button  .cardapio-btn {
  padding: 10px 5px 5% 5px;
    border-radius: 20px;
    background-color: var(--color-primary-6);
}

#home-button a {
    text-decoration: none;
    color: var(--color-neutral-1);
    text-align: center;
    font-weight: 500;
}

#home-button  .tel-btn  {
    background-color: var(--color-primary-6);
    transition: all 0.3s ease;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    padding: 15px;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    z-index: 2;
}

#banner img {
    margin-left: 100px;
}


@media screen and (max-width: 1170px) {
    #home {
        min-height: 100%;
        padding-top: 0px;
    }

    #txt-home {
     width: 100%;

     }

    #banner,
    #banner img,
    #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    #phone_button button {
        display: none;
    }
}